/* css start */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav ul{
    display: flex;
}
.nav-heading{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul li:hover{
    background: #FD6E0A;
    transition: all linear .3s;
}
nav ul li:hover a{
    color: #fff;
}