/* css start */
*{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
nav ul{
    display: flex;
    /* align-items: center; */
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    padding: 15px 35px;
    color: #454545;

}
nav ul li a:hover{
    color: #fff;
    background: tomato;
    transition: all linear .3s;
    border-radius: 5px;
}
nav h3 span{
    color: tomato;
}